.home-content-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    margin: 8px 0;

    border: 1px solid var(--color-secondary);
    border-radius: 16px;
}

.experience-item-preview-rightSide {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.experience-item-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    width: 100%;

    font-size: small;
    color: white;
    text-align: center;
    line-height: 0;
}

.experience-item-details {
    display: flex;
    flex-direction: column;
    width: 95%;
    line-height: normal;
}

.experience-item-details p {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.experience-item-skills {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.experience-item-skills p {
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    background-color: var(--color-secondary);
    color: white;
    font-size: smaller;
}

.experience-item-details #location {
    margin: 0.4rem 0;
    color: gray;
}

.experience-item-details #description {
    margin: 1rem 0;
}