.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 8px;
    justify-content: space-between;
}

.footer-logo {
    font-weight: bold;
    font-size: 1.5em;
}

.footer-logo span {
    color: var(--dark-accent);
}

.footer-line {
    width: 100%;
    border-top: 4px solid var(--dark-secondary);
}

.footer-contact {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    color: gray;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}