.home-header.light {
  background: var(--light-primary);
  color: var(--light-text);
  border: 2px solid var(--light-secondary);
}

.home-header.dark {
  background: var(--dark-primary);
  color: var(--dark-text);
}

.home-header {
  width: 80%;
  background: var(--dark-primary);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4px 18px;
  margin: 24px 50px;
  border: 2px solid var(--dark-secondary);
  border-radius: 12px;

  font-size: 1em;
}

.home-header a {
  text-decoration: none;
  color: var(--dark-text);
}

.home-header.light a {
  color: var(--light-text);
}

.home-header a:hover {
  color: var(--dark-accent);
}

.home-header-logo {
  font-weight: bold;
  font-size: 1.5em;
}

.home-header-logo span {
  color: var(--dark-accent);
}

@media (max-width: 1000px) {
  .home-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
  }
  .home-header-logo {
    order: 2;
  }
  .home-header-contactMe {
    order: 3;
  }
  .home-header-nav {
    display: none;
  }
  .home-header-themeIcon {
    order: 1;
    align-items: center;
    display: flex;
  }
  .home-header-contactMe-theme {
    display: none;
  }
  .home-header-contactMe button{
    padding: 4px 8px;
    background-color: var(--dark-accent);
  }
}

.home-header-contactMe button:hover {
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-accent);
  color: var(--dark-text);
}

.home-header-contactMe button:focus {
  outline: none;
  border: 1px solid var(--dark-accent);
  box-shadow: 0 0 0 2px var(--dark-accent);
}


@media (min-width: 1000px) {
  .home-header-themeIcon {
    display: none;
  }
  .home-header-contactMe button {
    background-color: var(--dark-accent);
    padding: 8px 16px;
  }
}

.home-header-nav ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 32px;
  color: var(--dark-text);
  cursor: pointer;
}

.home-header-nav ol li, .home-header-nav a{
  transition: color 0.15s ease-in-out;
  text-align: center;
}

.home-header-nav ol li:hover {
  color: var(--dark-accent);
}

.home-header-contactMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  line-height: 0;
}

.contact-modal.closed {
  display: none;
}

.contact-modal.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-primary);
  color: var(--dark-text);
  border: 2px solid var(--dark-secondary);
  border-radius: 12px;
  padding: 24px;
  z-index: 100;
  width: 20%;
  min-width: 300px;

}

.contact-modal.open h2 {
  margin-bottom: 16px;
}

.contact-modal.open input {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid var(--dark-secondary);
  border-radius: 4px;
}

.contact-modal.open textarea {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid var(--dark-secondary);
  border-radius: 4px;
}

.contact-modal.open button {
  padding: 8px 16px;
  background-color: var(--dark-accent);
  border: 1px solid var(--dark-accent);
  border-radius: 4px;
  color: var(--dark-text);
}

.contact-modal.open form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  width: 100%;
}
