@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  /* Color palette */
  --color-primary: #242424;
  --color-secondary: #2e2e2e;
  --color-accent: #0bbf6b;
  --color-text: #f4f4f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4rem;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.app-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-content-skill, .home-content-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-content-skill-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 60px;
}

.home-content h1 {
  background-color: var(--color-secondary);
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  font-size: large;
}

.home-content-project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-content-project h1 {
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid var(--color-accent);
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  text-align: left;
}

.project-item h2 {
  font-size: large;

}
.project-item h2, p {
  margin: 0.5rem 0;
}

.project-tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project-tech-container span {
  border: none;
  background-color: var(--color-secondary);
  border-radius: 0.8rem;
  padding: 0.2rem 0.6rem;
}

.project-tech-container a {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: white;
}

.project-tech-container a:hover {
  color: var(--color-accent);
}

@media (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-direction: column;
  }
}